@import "tailwindcss";
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 6s ease infinite;
}

.animate-border {
  position: relative;
}

/* App.css hoặc global CSS */
.scroll-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.scroll-track {
  display: flex;
  animation: scroll-left 12s linear infinite;
  width: max-content;
}

.scroll-wrapper:hover .scroll-track {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
